In [7]:
import pandas as pd
import numpy as np
import math

In [24]:
def correlation(data,col1,col2):

    x=col1
    y=col2
    
    #creating new empty arrays
    xy=[]
    xx=[]
    yy=[]
    
    for i in range(len(data)):
        xy.append(x[i]*y[i])
        xx.append(x[i]**2)
        yy.append(y[i]**2)
        
    #Sxx,Syy,Sxy
    Sxy=sum(xy)-(sum(x)*sum(y))/len(data)
    Sxx=sum(xx)-(sum(x)**2)/len(data)
    Syy=sum(yy)-(sum(y)**2)/len(data)
    
    z=math.sqrt(Sxx*Syy)
    
    cor=round(Sxy/z,3)
    if(Sxy>=0):
        corcoef=math.sqrt(Sxy/z)
    else:
        corcoef=math.sqrt((-1*Sxy)/z)
    
    return cor,corcoef

In [22]:
data=pd.read_csv("C:/Users/shrey/Downloads/IBM/Year Count.csv")
data

    Years  Missions  Cost  Success
0    1957         3     3        2
1    1958        28    28        6
2    1959        20    20        8
3    1960        39    39       19
4    1961        52    52       32
..    ...       ...   ...      ...
59   2016        90  2116       86
60   2017        92  2469       84
61   2018       117  3327      113
62   2019       109  2883      100
63   2020        63  1839       57

[64 rows x 4 columns]

In [27]:
x,y=correlation(data,data['Years'],data['Missions'])
print(x,y)

-0.155 0.39342565732792895

In [28]:
x,y=correlation(data,data['Years'],data['Cost'])
print(x,y)

0.742 0.861516479691512

In [29]:
x,y=correlation(data,data['Years'],data['Success'])
print(x,y)

-0.025 0.15677924524590753

In [32]:
x,y=correlation(data,data['Cost'],data['Missions'])
print(x,y)

0.179 0.42269066898202745

In [33]:
x,y=correlation(data,data['Cost'],data['Success'])
print(x,y)

0.233 0.4825940478537819

In [34]:
x,y=correlation(data,data['Missions'],data['Success'])
print(x,y)

0.979 0.989441375782602