In [1]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("C:/Users/shrey/Downloads/IBM/TTest.csv")
data

    Years  Russia  USA
0    1957       0    1
1    1958       0   23
2    1959       0   16
3    1960       0   30
4    1961       2   43
..    ...     ...  ...
59   2016       6   27
60   2017       6   30
61   2018       8   33
62   2019       9   24
63   2020       3   21

[64 rows x 3 columns]

In [7]:
x1=np.array(data['Russia'])
x2=np.array(data['USA'])

dif=[]
for x in range(len(data)):
    dif.append(x1[x]-x2[x])

diff=[]    
for x in range(len(data)):
    diff.append(dif[x]**2)
    
d=sum(dif)
d2=sum(diff)
n=len(data)
    
num=d/n
den=math.sqrt((d2-(d**2)/n)/(n*(n-1)))
ans=num/den
print("t-value:",round(ans,3))

t-value: 0.234